* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}
header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

section {
  padding-top: 95px;
  padding-bottom: 95px;
}

section h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 1200px;
  margin: auto;
}
.menu {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 26px;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;

  font-weight: 500;
  font-size: 14px;
}

.contacts a {
  margin-right: 0px;
  margin-left: 50px;
}

.nav-link {
  margin-right: 50px;
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-link:hover {
  color: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo span {
  color: #2196f3;
}

.logo:hover span {
  color: black;
}

.solutions {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 600px;

  background-color: #2f303a;
}

.solutions h1 {
  max-width: 700px;
  color: white;
  padding-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.solutions button {
  width: 220px;
  min-height: 50px;

  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background: #2196f3;
  color: white;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.solutions button:hover {
  cursor: pointer;
}

.details ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
}

.details ul li {
  margin-right: 30px;
}

.details ul li h3 {
  padding-bottom: 10px;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.details ul li p {
  width: 270px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.tech-images h2 {
  text-align: center;
  padding-bottom: 40px;
}

.tech-images ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.tech-images ul li {
  margin: 0 15px;
}

.team {
  text-align: center;
  background: #f5f4fa;
}

.team h2 {
  padding-bottom: 40px;
}

.team ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.team ul li {
  background: #ffffff;
  width: 270px;
  margin: 0 15px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team ul li h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team ul li label {
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

footer {
  padding: 60px 0;
  height: 250px;
  background: #2f303a;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
footer .container > address {
  padding-top: 20px;
}

footer .logo {
  color: white;
}

footer .logo:hover {
  color: #2196f3;
}

footer .logo:hover span {
  color: white;
}

footer ul {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  color: white;
  padding: 0;
}

footer ul li {
  padding: 5px 0;
  font-size: 14px;
}

footer ul li address {
  font-style: normal;
}

footer ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

/*portfolio page*/
.guide {
  padding-top: 100px;
  padding-bottom: 50px;
}

.guide ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 550px;
  margin: auto;
  padding: 10px 0;
}

.guide ul li input {
  background: #f5f4fa;
  color: #212121;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.guide ul li input:hover {
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.products {
  padding-top: 0;
}
.products ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: auto;
}

.products ul li {
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
}

.products ul li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6),
    0px 4px 6px rgba(0, 0, 0, 0.16);
}

.products ul h3 {
  padding: 20px 0px 5px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.products ul label {
  padding: 5px 0px 20px 24px;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
