* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

section {
    padding-top: 95px;
    padding-bottom: 95px;
}
ul {
    width: 100%;
}

.container {
    width: 1200px;
    margin: auto;
}
.menu {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 26px;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

    font-weight: 500;
    font-size: 14px;
}


.contacts a {
    margin-right: 0px;
    margin-left: 50px;
}

.nav-link {
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}


.nav-link:hover {
    color: #2196F3;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo span {
    color: #2196F3;
}

.logo:hover span {
    color: black;
}

.solutions {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 600px;
    
    background-color: #2F303A;
}

.solutions h1 {
    width: 700px;
    color:white;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.solutions input {
    width: 220px;
    height: 50px;

    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background: #2196F3;
    color:white;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.solutions input:hover {
    cursor: pointer;
}

.details ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
    
}

.details ul li {
    margin-right: 30px;
}

.details ul li h3 {
    margin-bottom: 10px;
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.details ul li p {
    width: 270px;
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.tech-images h2 {
    text-align: center;
    margin-bottom: 40px;
}

.tech-images ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
    
.tech-images ul li {
    margin: 0 15px;
}

.team {
    text-align: center;
    background: #F5F4FA;
}

.team h2 {
    margin-bottom: 40px;  
}


.team ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.team ul li {
    background: #FFFFFF;
    width: 270px;
    margin: 0 15px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team ul li h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team ul li label {
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

footer {
    padding: 60px 0;
    height: 250px;
    background: #2F303A;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}

footer ul {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    list-style: none;
    color: white;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
    font-size: 14px;
}

footer ul li address {
    font-style: normal;
}

footer ul li a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

/*portfolio page*/
.guide {
    padding-top: 100px;
    padding-bottom: 50px;
}

 .guide ul {
   display: flex;
   justify-content: space-between;
   list-style: none;
   width: 550px;
   margin: 10px auto;
 }

 .guide ul li input {
    background: #F5F4FA;
    color: #212121;
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
 }

 .guide ul li input:hover {
    background: #2196F3;
    color: #ffffff;
    cursor: pointer;
    
 }
 .products {
    padding-top: 0;
 }
 .products ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto;
 }

.products ul li {
    margin: 7px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
}

.products ul li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6), 0px 4px 6px rgba(0, 0, 0, 0.16);
}

.products ul h3 {
    font-weight: 700;
    margin-left: 10px;
}

.products ul label {
    color: #757575;
    margin-left: 10px;
    font-weight: 400;
    
}

